<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js" integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s=" crossorigin=""></script>

        <style>
            #map {
                height: 800px;
            }
        </style>
    </head>

    <body>
     <div id="map"></div>

     <input type="checkbox" value="A00" onchange="filterByDruh(this);">
     <label>Mateřské školy</label>
     <input type="checkbox" value="B00" onchange="filterByDruh(this);">
     <label>Základní školy</label>
     <input type="checkbox" value="C00" onchange="filterByDruh(this);">
     <label>Střední školy</label>
     <input type="checkbox" value="L11" onchange="filterByDruh(this);">
     <label>Školní jídelna</label>
     <input type="checkbox" value="L13" onchange="filterByDruh(this);">
     <label>Školní jídelna - výdejna</label>
     <input type="checkbox" value="M60" onchange="filterByDruh(this);">
     <label>Přípravný stupeň základní školy speciální</label>
     <input type="checkbox" value="G21" onchange="filterByDruh(this);">
     <label>Školní družina</label>
     <input type="checkbox" value="G22" onchange="filterByDruh(this);">
     <label>Školní klub</label>
     <input type="checkbox" value="F10" onchange="filterByDruh(this);">
     <label>Základní umělecká škola</label>
     <input type="checkbox" value="G11" onchange="filterByDruh(this);">
     <label>Středisko volného času</label>
     <input type="checkbox" value="D00" onchange="filterByDruh(this);">
     <label>Konzervatoř</label>
     <input type="checkbox" value="M20" onchange="filterByDruh(this);">
     <label>Školní knihovna</label>
     <input type="checkbox" value="E00" onchange="filterByDruh(this);">
     <label>Vyšší odborná škola</label>
     <input type="checkbox" value="M79" onchange="filterByDruh(this);">
     <label>Jiné účelové zařízení</label>
     <input type="checkbox" value="H22" onchange="filterByDruh(this);">
     <label>Domov mládeže</label>
     <input type="checkbox" value="F20" onchange="filterByDruh(this);">
     <label>Jazyková škola s právem státní jazykové zkoušky</label>
     <input type="checkbox" value="G40" onchange="filterByDruh(this);">
     <label>Zařízení pro další vzdělávání pedagogických pracovníků</label>
     <input type="checkbox" value="H21" onchange="filterByDruh(this);">
     <label>Internát</label>
     <input type="checkbox" value="M30" onchange="filterByDruh(this);">
     <label>Školní hospodářství</label>
     <input type="checkbox" value="G12" onchange="filterByDruh(this);">
     <label>Stanice zájmových činností</label>
     <input type="checkbox" value="K10" onchange="filterByDruh(this);">
     <label>Pedagogicko-psychologická poradna</label>
     <input type="checkbox" value="M10" onchange="filterByDruh(this);">
     <label>Středisko služeb školám</label>
     <input type="checkbox" value="L12" onchange="filterByDruh(this);">
     <label>Školní jídelna - vývařovna</label>
     <input type="checkbox" value="K20" onchange="filterByDruh(this);">
     <label>Speciálně pedagogické centrum</label>
     <input type="checkbox" value="M40" onchange="filterByDruh(this);">
     <label>Středisko praktického vyučování</label>
     <input type="checkbox" value="J11" onchange="filterByDruh(this);">
     <label>Dětský domov</label>
     <input type="checkbox" value="J12" onchange="filterByDruh(this);">
     <label>Dětský domov se školou</label>
     <input type="checkbox" value="J13" onchange="filterByDruh(this);">
     <label>Výchovný ústav</label>
     <input type="checkbox" value="J21" onchange="filterByDruh(this);">
     <label>Středisko výchovné péče</label>
     <input type="checkbox" value="J14" onchange="filterByDruh(this);">
     <label>Diagnostický ústav</label>
     <input type="checkbox" value="A15" onchange="filterByDruh(this);">
     <label>Mateřská škola (lesní mateřská škola)</label>
     <input type="checkbox" value="M50" onchange="filterByDruh(this);">
     <label>Plavecká škola</label>
     <input type="checkbox" value="L15" onchange="filterByDruh(this);">
     <label>Výdejna lesní mateřské školy</label>
     <input type="checkbox" value="H10" onchange="filterByDruh(this);">
     <label>Škola v přírodě</label>

     <script src="/static/main.js"></script>
    </body>

</html>
