<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js" integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s=" crossorigin=""></script>

        <style>
            #map {
                height: 800px;
            }
        </style>
    </head>

    <body>
     <div id="map"></div>

     <label>Zobrazit</label>
     <select onchange="setViewTyp(this);">
       <option value="reditelstvi">Ředitelství</option>
       <option value="mista">Místa výkonu</option>
     </select> 

     <br> Filtrování podle druhu: <br>
     <input type="checkbox" value="A00" onchange="filterByDruh(this);">
     <label>Mateřské školy</label>
     <input type="checkbox" value="B00" onchange="filterByDruh(this);">
     <label>Základní školy</label>
     <input type="checkbox" value="C00" onchange="filterByDruh(this);">
     <label>Střední školy</label>
     <input type="checkbox" value="L11" onchange="filterByDruh(this);">
     <label>Školní jídelna</label>
     <input type="checkbox" value="L13" onchange="filterByDruh(this);">
     <label>Školní jídelna - výdejna</label>
     <input type="checkbox" value="M60" onchange="filterByDruh(this);">
     <label>Přípravný stupeň základní školy speciální</label>
     <input type="checkbox" value="G21" onchange="filterByDruh(this);">
     <label>Školní družina</label>
     <input type="checkbox" value="G22" onchange="filterByDruh(this);">
     <label>Školní klub</label>
     <input type="checkbox" value="F10" onchange="filterByDruh(this);">
     <label>Základní umělecká škola</label>
     <input type="checkbox" value="G11" onchange="filterByDruh(this);">
     <label>Středisko volného času</label>
     <input type="checkbox" value="D00" onchange="filterByDruh(this);">
     <label>Konzervatoř</label>
     <input type="checkbox" value="M20" onchange="filterByDruh(this);">
     <label>Školní knihovna</label>
     <input type="checkbox" value="E00" onchange="filterByDruh(this);">
     <label>Vyšší odborná škola</label>
     <input type="checkbox" value="M79" onchange="filterByDruh(this);">
     <label>Jiné účelové zařízení</label>
     <input type="checkbox" value="H22" onchange="filterByDruh(this);">
     <label>Domov mládeže</label>
     <input type="checkbox" value="F20" onchange="filterByDruh(this);">
     <label>Jazyková škola s právem státní jazykové zkoušky</label>
     <input type="checkbox" value="G40" onchange="filterByDruh(this);">
     <label>Zařízení pro další vzdělávání pedagogických pracovníků</label>
     <input type="checkbox" value="H21" onchange="filterByDruh(this);">
     <label>Internát</label>
     <input type="checkbox" value="M30" onchange="filterByDruh(this);">
     <label>Školní hospodářství</label>
     <input type="checkbox" value="G12" onchange="filterByDruh(this);">
     <label>Stanice zájmových činností</label>
     <input type="checkbox" value="K10" onchange="filterByDruh(this);">
     <label>Pedagogicko-psychologická poradna</label>
     <input type="checkbox" value="M10" onchange="filterByDruh(this);">
     <label>Středisko služeb školám</label>
     <input type="checkbox" value="L12" onchange="filterByDruh(this);">
     <label>Školní jídelna - vývařovna</label>
     <input type="checkbox" value="K20" onchange="filterByDruh(this);">
     <label>Speciálně pedagogické centrum</label>
     <input type="checkbox" value="M40" onchange="filterByDruh(this);">
     <label>Středisko praktického vyučování</label>
     <input type="checkbox" value="J11" onchange="filterByDruh(this);">
     <label>Dětský domov</label>
     <input type="checkbox" value="J12" onchange="filterByDruh(this);">
     <label>Dětský domov se školou</label>
     <input type="checkbox" value="J13" onchange="filterByDruh(this);">
     <label>Výchovný ústav</label>
     <input type="checkbox" value="J21" onchange="filterByDruh(this);">
     <label>Středisko výchovné péče</label>
     <input type="checkbox" value="J14" onchange="filterByDruh(this);">
     <label>Diagnostický ústav</label>
     <input type="checkbox" value="A15" onchange="filterByDruh(this);">
     <label>Mateřská škola (lesní mateřská škola)</label>
     <input type="checkbox" value="M50" onchange="filterByDruh(this);">
     <label>Plavecká škola</label>
     <input type="checkbox" value="L15" onchange="filterByDruh(this);">
     <label>Výdejna lesní mateřské školy</label>
     <input type="checkbox" value="H10" onchange="filterByDruh(this);">
     <label>Škola v přírodě</label>

     <br> Filtrování podle kraje: <br>
     <input type="checkbox" value="CZ011" onchange="filterByKraj(this);">
     <label>Praha</label>
     <input type="checkbox" value="CZ021" onchange="filterByKraj(this);">
     <label>Středočeský kraj</label>
     <input type="checkbox" value="CZ031" onchange="filterByKraj(this);">
     <label>Jihočeský kraj</label>
     <input type="checkbox" value="CZ032" onchange="filterByKraj(this);">
     <label>Plzeňský kraj</label>
     <input type="checkbox" value="CZ041" onchange="filterByKraj(this);">
     <label>Karlovarský kraj</label>
     <input type="checkbox" value="CZ042" onchange="filterByKraj(this);">
     <label>Ústecký kraj</label>
     <input type="checkbox" value="CZ051" onchange="filterByKraj(this);">
     <label>Liberecký kraj</label>
     <input type="checkbox" value="CZ052" onchange="filterByKraj(this);">
     <label>Královéhradecký kraj</label>
     <input type="checkbox" value="CZ053" onchange="filterByKraj(this);">
     <label>Pardubický kraj</label>
     <input type="checkbox" value="CZ061" onchange="filterByKraj(this);">
     <label>Vysočina</label>
     <input type="checkbox" value="CZ062" onchange="filterByKraj(this);">
     <label>Jihomoravský kraj</label>
     <input type="checkbox" value="CZ071" onchange="filterByKraj(this);">
     <label>Olomoucký kraj</label>
     <input type="checkbox" value="CZ072" onchange="filterByKraj(this);">
     <label>Zlínský kraj</label>
     <input type="checkbox" value="CZ081" onchange="filterByKraj(this);">
     <label>Moravskoslezský kraj</label>

     <br> Filtrování podle okresu: <br>
     <input type="checkbox" value="CZ0100" onchange="filterByOkres(this);">
     <label>Hlavní město Praha</label>
     <input type="checkbox" value="CZ0201" onchange="filterByOkres(this);">
     <label>Benešov</label>
     <input type="checkbox" value="CZ0202" onchange="filterByOkres(this);">
     <label>Beroun</label>
     <input type="checkbox" value="CZ0203" onchange="filterByOkres(this);">
     <label>Kladno</label>
     <input type="checkbox" value="CZ0204" onchange="filterByOkres(this);">
     <label>Kolín</label>
     <input type="checkbox" value="CZ0205" onchange="filterByOkres(this);">
     <label>Kutná Hora</label>
     <input type="checkbox" value="CZ0206" onchange="filterByOkres(this);">
     <label>Mělník</label>
     <input type="checkbox" value="CZ0207" onchange="filterByOkres(this);">
     <label>Mladá Boleslav</label>
     <input type="checkbox" value="CZ0208" onchange="filterByOkres(this);">
     <label>Nymburk</label>
     <input type="checkbox" value="CZ0209" onchange="filterByOkres(this);">
     <label>Praha-východ</label>
     <input type="checkbox" value="CZ020A" onchange="filterByOkres(this);">
     <label>Praha-západ</label>
     <input type="checkbox" value="CZ020B" onchange="filterByOkres(this);">
     <label>Příbram</label>
     <input type="checkbox" value="CZ020C" onchange="filterByOkres(this);">
     <label>Rakovník</label>
     <input type="checkbox" value="CZ0311" onchange="filterByOkres(this);">
     <label>České Budějovice</label>
     <input type="checkbox" value="CZ0313" onchange="filterByOkres(this);">
     <label>Jindřichův Hradec</label>
     <input type="checkbox" value="CZ0314" onchange="filterByOkres(this);">
     <label>Písek</label>
     <input type="checkbox" value="CZ0315" onchange="filterByOkres(this);">
     <label>Prachatice</label>
     <input type="checkbox" value="CZ0316" onchange="filterByOkres(this);">
     <label>Strakonice</label>
     <input type="checkbox" value="CZ0317" onchange="filterByOkres(this);">
     <label>Tábor</label>
     <input type="checkbox" value="CZ0321" onchange="filterByOkres(this);">
     <label>Domažlice</label>
     <input type="checkbox" value="CZ0322" onchange="filterByOkres(this);">
     <label>Klatovy</label>
     <input type="checkbox" value="CZ0323" onchange="filterByOkres(this);">
     <label>Plzeň-město</label>
     <input type="checkbox" value="CZ0324" onchange="filterByOkres(this);">
     <label>Plzeň-jih</label>
     <input type="checkbox" value="CZ0325" onchange="filterByOkres(this);">
     <label>Plzeň-sever</label>
     <input type="checkbox" value="CZ0326" onchange="filterByOkres(this);">
     <label>Rokycany</label>
     <input type="checkbox" value="CZ0327" onchange="filterByOkres(this);">
     <label>Tachov</label>
     <input type="checkbox" value="CZ0411" onchange="filterByOkres(this);">
     <label>Cheb</label>
     <input type="checkbox" value="CZ0412" onchange="filterByOkres(this);">
     <label>Karlovy Vary</label>
     <input type="checkbox" value="CZ0413" onchange="filterByOkres(this);">
     <label>Sokolov</label>
     <input type="checkbox" value="CZ0421" onchange="filterByOkres(this);">
     <label>Děčín</label>
     <input type="checkbox" value="CZ0422" onchange="filterByOkres(this);">
     <label>Chomutov</label>
     <input type="checkbox" value="CZ0423" onchange="filterByOkres(this);">
     <label>Litoměřice</label>
     <input type="checkbox" value="CZ0424" onchange="filterByOkres(this);">
     <label>Louny</label>
     <input type="checkbox" value="CZ0425" onchange="filterByOkres(this);">
     <label>Most</label>
     <input type="checkbox" value="CZ0426" onchange="filterByOkres(this);">
     <label>Teplice</label>
     <input type="checkbox" value="CZ0427" onchange="filterByOkres(this);">
     <label>Ústí nad Labem</label>
     <input type="checkbox" value="CZ0511" onchange="filterByOkres(this);">
     <label>Česká Lípa</label>
     <input type="checkbox" value="CZ0512" onchange="filterByOkres(this);">
     <label>Jablonec nad Nisou</label>
     <input type="checkbox" value="CZ0513" onchange="filterByOkres(this);">
     <label>Liberec</label>
     <input type="checkbox" value="CZ0514" onchange="filterByOkres(this);">
     <label>Semily</label>
     <input type="checkbox" value="CZ0521" onchange="filterByOkres(this);">
     <label>Hradec Králové</label>
     <input type="checkbox" value="CZ0522" onchange="filterByOkres(this);">
     <label>Jičín</label>
     <input type="checkbox" value="CZ0523" onchange="filterByOkres(this);">
     <label>Náchod</label>
     <input type="checkbox" value="CZ0524" onchange="filterByOkres(this);">
     <label>Rychnov nad Kněžnou</label>
     <input type="checkbox" value="CZ0525" onchange="filterByOkres(this);">
     <label>Trutnov</label>
     <input type="checkbox" value="CZ0531" onchange="filterByOkres(this);">
     <label>Chrudim</label>
     <input type="checkbox" value="CZ0532" onchange="filterByOkres(this);">
     <label>Pardubice</label>
     <input type="checkbox" value="CZ0533" onchange="filterByOkres(this);">
     <label>Svitavy</label>
     <input type="checkbox" value="CZ0534" onchange="filterByOkres(this);">
     <label>Ústí nad Orlicí</label>
     <input type="checkbox" value="CZ0631" onchange="filterByOkres(this);">
     <label>Havlíčkův Brod</label>
     <input type="checkbox" value="CZ0632" onchange="filterByOkres(this);">
     <label>Jihlava</label>
     <input type="checkbox" value="CZ0633" onchange="filterByOkres(this);">
     <label>Pelhřimov</label>
     <input type="checkbox" value="CZ0634" onchange="filterByOkres(this);">
     <label>Třebíč</label>
     <input type="checkbox" value="CZ0635" onchange="filterByOkres(this);">
     <label>Žďár nad Sázavou</label>
     <input type="checkbox" value="CZ0641" onchange="filterByOkres(this);">
     <label>Blansko</label>
     <input type="checkbox" value="CZ0642" onchange="filterByOkres(this);">
     <label>Brno-město</label>
     <input type="checkbox" value="CZ0644" onchange="filterByOkres(this);">
     <label>Břeclav</label>
     <input type="checkbox" value="CZ0645" onchange="filterByOkres(this);">
     <label>Hodonín</label>
     <input type="checkbox" value="CZ0646" onchange="filterByOkres(this);">
     <label>Vyškov</label>
     <input type="checkbox" value="CZ0647" onchange="filterByOkres(this);">
     <label>Znojmo</label>
     <input type="checkbox" value="CZ0711" onchange="filterByOkres(this);">
     <label>Jeseník</label>
     <input type="checkbox" value="CZ0712" onchange="filterByOkres(this);">
     <label>Olomouc</label>
     <input type="checkbox" value="CZ0713" onchange="filterByOkres(this);">
     <label>Prostějov</label>
     <input type="checkbox" value="CZ0714" onchange="filterByOkres(this);">
     <label>Přerov</label>
     <input type="checkbox" value="CZ0715" onchange="filterByOkres(this);">
     <label>Šumperk</label>
     <input type="checkbox" value="CZ0721" onchange="filterByOkres(this);">
     <label>Kroměříž</label>
     <input type="checkbox" value="CZ0722" onchange="filterByOkres(this);">
     <label>Uherské Hradiště</label>
     <input type="checkbox" value="CZ0723" onchange="filterByOkres(this);">
     <label>Vsetín</label>
     <input type="checkbox" value="CZ0724" onchange="filterByOkres(this);">
     <label>Zlín</label>
     <input type="checkbox" value="CZ0801" onchange="filterByOkres(this);">
     <label>Bruntál</label>
     <input type="checkbox" value="CZ0802" onchange="filterByOkres(this);">
     <label>Frýdek-Místek</label>
     <input type="checkbox" value="CZ0803" onchange="filterByOkres(this);">
     <label>Karviná</label>
     <input type="checkbox" value="CZ0804" onchange="filterByOkres(this);">
     <label>Nový Jičín</label>
     <input type="checkbox" value="CZ0806" onchange="filterByOkres(this);">
     <label>Ostrava-město</label>

     <script src="/static/main.js"></script>
    </body>

</html>
